# PYTHON BASIC RKT

## Python Data Types

>int--integer

>float-whole number includes decimal also

>string-values in "" considered as string

>Boolean- True/False

### Complex

>As we know the complex number is a+bj

>2+3j such syntax is considered as complex number

In [1]:
print(type(2+4j))

<class 'complex'>

## Print()

>print('saske is best') will print saske is best

## Input()

>input() keyword is use to take inputs

>Python take input in string

>To take it in number use int(input())

### Syntax

>print('enter a number')

>input()----will take input from string

### Another way

>input('enter a number')

In [2]:
print("Saske is the best",end=' ')
print('ninja')

Saske is the best ninja

In [3]:
## one way to take input

print('enter number')
i=input()
print(i)
print(type(i))

enter number
43
43
<class 'str'>

In [ ]:
# Another way
i=input('enter a number')
print(tyep(i))

In [ ]:
#taking int inputs

i=int(input('enter number'))
print(type(i))

## Variables

>Variables are like "jab hamari mammi horlicks ke dabbe mein mirch rakhti hai"

>They use to store strings,numbers,inputs,functions,outputs

>var1='hello saske'
  >print(var1)
  
>It is possible to perform arithmetic operations with variables(show example 1.addition of numbers 2.addition of strings)

>Numbers in "" considered as strings

>use type() function to find types of variables

In [ ]:
a='saske'
a=func()
a=int(input())

In [4]:
# simple arithmetic

var1=34
var2=64
print(var1*var2)

2176

In [7]:
var1='Saske'
var2=' is the best ninja'
print(var1+var2)

Saske is the best ninja

In [8]:
var1='23'
var2='34'
print(var1+var2)

2334


## Typecasting

>With typecasting we can change data type of variables

>a=3,b="23",c='saske'

>int(b)+a possible----a+int(c) error---str(a)+b+c possible

In [9]:
a='34'
print(type(int(a)))

<class 'int'>

In [11]:
a='422'
b=2324
c='saske'
#1
d=b+int(b)
print(c)

#2.
e=str(b)+a+c
print(e)

#3
f=b+int(c)
print(f)

saske
2324422saske

ValueError: invalid literal for int() with base 10: 'saske'

## Eval()

>this function is use to calcualte expressions from strings

>a='3+4'---print(a)---output is 3+4

>print(eval(a))----output is 7

In [12]:
a='43+23+85*2'
print(eval(a))

236

## Operators

### Arithmetic operators

> +,-,*,/ these are basic arithmetic operators

> // it gives int value of division (4//3 = 1)

> ** it gives power (4**2=16)

>% it gives remainder (5%3=2)

In [13]:
a=5
b=4
print(a/b)
print(a//b)#floor division operator
print(a**b)
print(a%b)

1.25
1
625

### Relational Operators

>x+=2---x=x+2(same goes for subtraction,multiplication,division)

>x=2(2 is stored in)--x==2(x equals to 2)

>x>=2,x<=2,x>2,x<2

>Similarly we have and,or-- For and(true and true = true)--(true and false = false)

>For or (T or T = T)--(T or F = T)--(F or F = F)

#### Is/ Is not

>a=2,b=3--a is b returns False

> a is not b returns True

In [14]:
a=34
b=43

print(a is b)

a1=53
b1=53

print(a is b)

print(a is not b)

False
False
True

#### in/not in

>l=[1,34,5]

>1 in l returns True

>6 not in l returns True

In [15]:
l=[23,43,213,543]
print(4 in l)
print(213 in l)

False
True

## Random module

### Generating random integer number between 2 numbers

>random.randint(a,b)

>for float number use random.uniform(a,b)

In [16]:
import random
a=random.randint(1,100)
print(a)

b=random.uniform(1,3)
print(b)

20
2.850716642847396

### Generating random value from list

>random.choice(list)

In [19]:
l=[1,32,35,64,22,75]
i=random.choice(l)
print(i)

1

### Shuffling list values

>random.shuffle(list)---do not write print(shuffle inside it)--first shuffle then print list

In [20]:
l=[1,32,35,64,22,75]
random.shuffle(l)
print(l)

[22, 75, 35, 32, 1, 64]

## Strings

### String Attributes

#### 1.capitalize()--Makes first letter capital--string.capitalize()

In [ ]:
s=" levi is the fidget spinner"
print(s.capitalize())

#### 2.upper()--Makes all letters capital--string.upper()

In [21]:
s=" levi is the fidget spinner"
print(s.upper())

 LEVI IS THE FIDGET SPINNER

#### 3.lower()--Makes all letters small--string.lower()

In [ ]:
s=" levi IS the fidget sPinner"
print(s.lower())

#### 4.swapcase()--Makes upper letter lowers and viceversa--s.swpacase()

In [22]:
s=" levi IS the fidget sPinner"
print(s.swapcase())

 LEVI is THE FIDGET SpINNER

#### 5.count()--returns number of times specified value occurs in string--It is case sensitive--string.count(value)

In [24]:
s=" levi is the fidget spinner"
print(s.count("n"))
print(s.count('L'))

2
0

#### 6.find()--it returns the index of that value from string

>if multiple cahracters are present it gives the first character it found while traversing

>it gives -1 if character is not there

>string.find(value)

In [26]:
s=" levi is the fidget spinner"
print(s.find('l'))
print(s.find('V'))

1

#### index()

>it returns the index of value

>string.index(value)

>it raise an exception if value is not found

In [ ]:
s=" levi is the fidget spinner"
print(s.index('f'))
print(s.index('L'))

#### split()

>splits string at specifier and stores value in list

>string.split("specifier")

In [27]:
s=" levi is the fidget spinner"
l=s.split(' ')
print(l)

['', 'levi', 'is', 'the', 'fidget', 'spinner']

#### strip()

>removes blank spaces from begining and end of string

>string.strip()

In [29]:
s=" levi is the fidget spinner  "
print(s.strip())
print(s)

levi is the fidget spinner
 levi is the fidget spinner

#### replace()

>string.replace(old,new,count)

In [ ]:
s=" levi is the fidget spinner"
print(s.replace('n','N'))
print(s.replace('n','N',2))

#### is functions

>isspace()--returns true is if all characters are white spaces

>isupper()- returns true if all characters are upper

>islower()-returns true if all characters are lower

>isalpha()-returns true if all characters are alphabates--if there are spaces between them it will return false

>isalnum()-returns true if string has alphabates and numbers

In [ ]:
s=" levi is the fidget spinner"

## String formatting

>Adding variables,functions,values in string

### One way

>a=21---print(' My age is',a)

>But as more value gets added or string gets complicated,it will be difficult to figure out formats

### F-strings(best way)

>a=21--print(f"My age is {a}")

In [34]:
a="saske"
print('My name is', a)

My name is saske

In [37]:
# f strings
a='saske'
b=21
c='ninja'
print(f"My name is {a}, my age is {b} and i'm a {c}")

My name is saske, my age is 21 and i'm a ninja

In [56]:
l=['attack on titan','naruto','death note']
a=f" No. 1 anime is {l[0]}, No. 2 anime is {l[1]}, No. 3 anime is {l[2]}"
print(a)

 No. 1 anime is attack on titan, No. 2 anime is naruto,No. 3 anime is death note

## String Slicing

> string="Levi is the fidget spinner"

>string[2] will give v

>It considers space indexes also

>string[0:5] will give Levi--5 exclusive

>string[:5] will give Levi

>string[0:len(string)] will give whole string

>string[0:100000]--number greater than len will also give whole string

>string[0:] will give whole string

>string[:] will give whole string

>string[0:4:2] will give Lv

>string[:4:2] will give Lv

>string[::2] will give Lv

>string[::] will give whole string

>string[::-1] will reverse the string

>string[::-2] will reverse the string and will give alterante entries

>string[-3:-1] will give ne(Start counting from left)

In [ ]:
s=" levi is the fidget spinner"

## IF else

> if(condition):
     
     >  execute this
 
  >elif(condition):
    
     >  execute this
  
  >else:
    
     >  execute this

In [38]:
# write proram for beloe 18yr can' drive,18 yr old have to take test,above 18 yr old can drive
age=int(input('enter your age'))
if(age<18):
    print("Can't drive")
elif(age==18):
    print('You have to take test')
else:
    print('Can drive')

enter your age18
You have to take test

### Multiple if else

>if(condition):
    
    >if(condition):
        
        >execute this
    >else:
         
        >execute this

In [39]:
i=int(input('enter 1 if you anime lovers'))
j=input('Are you sensitive?')

if(i==1):
    if (j=='Y'):
        print('Watch AOT')
    else:
        print('Watch naruto')
else:
    print('You are missing life')

enter 1 if you anime lovers1
Are you sensitive?Y
Watch AOT

### Short hand if-else

>if(condition):execute this
    
>else:execute this

In [ ]:
# write proram for beloe 18yr can' drive,18 yr old have to take test,above 18 yr old can drive
age=int(input('enter your age'))
if(age<18): print("Can't drive")
elif(age==18):print('You have to take test')
else: print('Can drive')

### For loop

>for i in range(a,b):print(i) will print from a to b-1
    
>for i in range(a,b,2):print(i) will print alternative from ato b-1
    
>list=[1,2,353,21,53]--for i in list:print(i)--will give list elements
    
>you can write multiple for statements(show example for nested lists and removing repeated letters from string)

#### For else

>else with for only works when for loop runs completely

>if it finds break statement, else will not execute

In [ ]:
for i in range(0,4):
    print(i)

In [40]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [41]:
l=[1,23,43,5,32]
for i in l:
    print(i)
    
s='saske'
for char in s:
    print(char)

1
23
43
5
32
saske
saske
saske
saske
saske

In [42]:
# REMOVNG repeated letters

st='saske is the best ninja'
s=''
for i in st:
    if i not in s:
        s+=i
print(s)

sake ithbnj

In [ ]:
for i in range(1,10):
    print(i)
    #break
else:
    print('for loop runs sucessfully')

### Enumerate function

>it gives index and value also

In [45]:
l=['a','b']

for index,value in enumerate(l):

    print(f"{value} at {index}")

a at 0
b at 1

### while loop

>Initialisation

>while(condition):
    
>Incremental

>while 1 or while True will give infinite loop

In [ ]:
i=0
while(i<9):
    print(i)
    i+=1

### break and continue

>break- will break loop and will go outside loop(Show example)

>continue-will give control to first statement in loop(show example)

In [47]:
while True:
    i=int(input('enter number'))
    if (i<50):
        continue
    elif(i>50):
        break

enter number33
enter number67

# Mutable and non mutable seq

>those seq whose values can be updated e.g list,dictionary,sets

>those whose values cannot be updated e.g.tuple

## LIST

### List slicing

>l[index] will give value

>l[a:b] will give values between a to b-1

>You can directly change any list element by l[index]=new_element

In [48]:
l=[242,31,35,63,1245]
print(l[1])
print(l[0:3])
print(l[::-1])
l[1]=9090
print(l)

31
[242, 31, 35]
[1245, 63, 35, 31, 242]
[242, 9090, 35, 63, 1245]

### List attributes

>append-- l.append(value) will append at the end of list

>insert--l.insert(index,value) will insert value at specified position

>pop--l.pop(index) will remove value from that index/ if no index given then it will remove from the end

>remove--l.remove(specified value) will remove specified value from list

>extend--l1.extend(l2) will add l2 in l1 or l1+l2

>count--l.count(value) for counting occurence of that value

>sum-sum(l) will add all elements from list

>max--max(l) will give max value from list

>min--min(l) will give min value from list

>join-"-".join(l) will join list elements with -(only works for string elemets)

>clear--l.clear() will clear all elements from list

>del-- del l will delete whole list

>for writing nesting lists [l1,l2]

#### Merging elements in list

>l[2:4]=[''.join(l[2:4])]

>show code

## List Comprehensions

>newList = [ expression(element) for element in oldList if condition ]

>if condition is optional

#### Advantages of List Comprehension

>More time efficient and space efficient than loops.

>Require fewer lines of code.

>Transforms iterative statement into a formula.

#### list comprehensions vs loops

In [19]:
# way to make list

l=[]
string="Saske is best"
for i in string:
    l.append(i)
print(l)

#comprehension way
l=[i for i in string]
print(l)

['S', 'a', 's', 'k', 'e', ' ', 'i', 's', ' ', 'b', 'e', 's', 't']
['S', 'a', 's', 'k', 'e', ' ', 'i', 's', ' ', 'b', 'e', 's', 't']

In [22]:
# adding only even numbers to list

def even(n):
    l=[]
    for i in n:
        if i%2==0:
            l.append(i)
    return l

a=(1,2,3,4,5,6,7,8)
print(even(a))

# comprehension way

l=[i for i in a if i%2==0]
print(l)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [27]:
# nesting list
l1=[]
for i in range(3):
    l1.append([])
    for j in range(5):
        l1[i].append(j)
print(l1)

#Comprehension way

l=[[j for j in range (5)] for i in range (3)]
print(l)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [30]:
# appending squares of numbers
l=[]
for i in range(1,10):
    l.append(i*i)
print(l)

#comprehension way
l=[i*i for i in range(1,10)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
## getting cube of even numbers in 1-10

l=[i**3 for i in range(1,11) if i%2==0 ]
print(l)

[8, 64, 216, 512, 1000]

In [32]:
# reversing each string in tuple

l=[i[::-1] for i in ('saske','naruto')]
print(l)

['eksas', 'oturan']

In [37]:
# adding only odd elemnts from list

def sm(m):
    total_sum=0
    for i in str(m):
        total_sum+=int(i)
    return total_sum
l=[123,764,97865,475]

l1=[sm(i) for i in l if i%2!=0]
print(l1)

[6, 35, 16]

In [41]:
k=(1,2,3)
v=(3,4,5)
a=list(zip(k,v))
print(a)

[(1, 3), (2, 4), (3, 5)]

# DICTIONARY

>Dictionary is nothing but key and value pairs

>keys are case sensitive

>keys can be number and string also

In [ ]:
#simple dictionary

d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}
print(d1)

#dictionary with nested lists

d2={'death_note':['Ruyzaki','light yagami','misa'],'demon_slayer':['tanjiro','zenitsu']}
print(d2)

#nested dictionary

d3={'naruto_shipudeen':{'uchihas':['madara','itachi','shisui']},'fairy_tail':{'guild':['natsu','erza','grey']}}
print(d3)

### DICT() function

>an in-buit function use to create dictionary

In [31]:
#creating dictionary with dict function

a=[(1,'saske'),(2,'levi'),(3,'natsu')]
print(dict(a))

{1: 'saske', 2: 'levi', 3: 'natsu'}

### Adding elements to dictionary

>those are not index,those are keys

In [33]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)

# Adding elements one at a time
Dict[0] = 'saske'
Dict[2] = 'levi'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Adding set of values
# to a single Key
Dict['death-note'] = 'misa','ryuk'
print("\nDictionary after adding 3 elements: ")
print(Dict)

# Updating existing Key's Value
Dict[2] = 'Mikasa'
print("\nUpdated key value: ")
print(Dict)

# Adding Nested Key value to Dictionary
Dict[5] = {'uzumaki' :{'naruto' : 'hinata', 'minato' : 'kushina'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'saske', 2: 'levi', 3: 1}

Dictionary after adding 3 elements:
{0: 'saske', 2: 'levi', 3: 1, 'death-note': ('misa', 'ryuk')}

Updated key value:
{0: 'saske', 2: 'Mikasa', 3: 1, 'death-note': ('misa', 'ryuk')}

Adding a Nested Key:
{0: 'saske', 2: 'Mikasa', 3: 1, 'death-note': ('misa', 'ryuk'), 5: {'uzumaki': {'naruto': 'hinata', 'minato': 'kushina'}}}

### Accessing dictionary elements

>write key name in square bracket in front of dictionary name

In [38]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

print(d1['saske'])

#Accessing elements from nested dictionary

d3={'naruto_shipudeen':{'uchihas':['madara','itachi','shisui'],'nara':['shikamaru','temari']},
    'fairy_tail':{'guild':['natsu','erza','grey']}}

print(d3['fairy_tail']['guild'])
print(d3['naruto_shipudeen']['nara'])

naruto shipudeen
['natsu', 'erza', 'grey']
['shikamaru', 'temari']

### Dictionary Attributes

#### copy()

>returns the copy of dictionary

In [39]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

d2=d1.copy()
print(d2)

{'saske': 'naruto shipudeen', 'levi': 'attack on titan', 'Gojou': 'Jujutsu Kaisen'}

#### clear()

>clears all items from dictionary

In [41]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

d1.clear()

print(d1)

{}

#### get()

>getting values for keys

In [42]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

print(d1.get('saske'))

naruto shipudeen

#### values()

>returns all values from dictionary

In [43]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

print(d1.values())

dict_values(['naruto shipudeen', 'attack on titan', 'Jujutsu Kaisen'])

#### keys()

>returns all keys from dictionary

In [44]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

print(d1.keys())

dict_keys(['saske', 'levi', 'Gojou'])

#### update()

>all similar keys will get updated

>you can either update dictionary with another dictionary or iterable

In [47]:
#### updating with another dictionay
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

d2={'saske':'team_7','levi':'survey_corps'}

d1.update(d2)
print(d1)

#with iterable
d2={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

d2.update([('natsu','fairy_tail'),('Ryuzaki','death_note')])

print(d2)

{'saske': 'team_7', 'levi': 'survey_corps', 'Gojou': 'Jujutsu Kaisen'}
{'saske': 'naruto shipudeen', 'levi': 'attack on titan', 'Gojou': 'Jujutsu Kaisen', 'natsu': 'fairy_tail', 'Ryuzaki': 'death_note'}

#### items()

>returns all key and value in tuple

In [48]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

print(d1.items())

dict_items([('saske', 'naruto shipudeen'), ('levi', 'attack on titan'), ('Gojou', 'Jujutsu Kaisen')])

#### pop()

>removes element from dictionary and also gives removed element

In [49]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

remove=d1.pop('Gojou')

print(f'removed value associated with key is {remove}')

print(d1)

removed value associated with key is Jujutsu Kaisen
{'saske': 'naruto shipudeen', 'levi': 'attack on titan'}

#### popitem()

>removes last element and gives removed key & value in tuple

In [55]:
d1={'saske':'naruto shipudeen','levi':'attack on titan','Gojou':'Jujutsu Kaisen'}

remove=d1.popitem()

print(f'removed pair is {remove}')

print(d1)

removed pair is ('Gojou', 'Jujutsu Kaisen')
{'saske': 'naruto shipudeen', 'levi': 'attack on titan'}

## Dictionary Comprehensions

>A dictionary comprehension takes the form {key: value for (key, value) in iterable}

In [ ]:
# comprehension
  
# Lists to represent keys and values
keys = ['a','b','c','d','e']
values = [1,2,3,4,5]  

#use of zip
l=list(zip(keys,values))
print(l)
   
d = { k:v for (k,v) in zip(keys, values)}  
  
# We can use below too
# d = dict(zip(keys, values))  
  
print (d)

In [43]:
# creation using list comprehension
myDict = {x: x**2 for x in [1,2,3,4,5]}
print (myDict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [42]:
# printing char 3 times
sDict = {x.upper(): x*3 for x in 'coding '}
print (sDict)

{'C': 'ccc', 'O': 'ooo', 'D': 'ddd', 'I': 'iii', 'N': 'nnn', 'G': 'ggg', ' ': '   '}

In [44]:
# Python code to demonstrate dictionary
# comprehension using if.
newdict = {x: x**3 for x in range(10) if x**3 % 4 == 0}
print(newdict)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

## SETS

>a=set{'a','b'}

>To create sets just add set before iterable

In [2]:
a=set([1,2,3])
print(a)

{1, 2, 3}

In [5]:
# adding element to set

a={'a','b'}
a.add('c')
print(a)

# you can add values with for loop also

for i in range(5):
    a.add(i)
print(a)

{'c', 'b', 'a'}
{0, 1, 2, 3, 4, 'a', 'b', 'c'}

### Frozen sets

>frozen sets are immutable sets

>You can't add or change value in frozen sets

In [3]:
a=frozenset([1,2,3])
print(a)
a.add(4)
#this will give error

frozenset({1, 2, 3})

AttributeError: 'frozenset' object has no attribute 'add'

### Union

>Two sets can be merge together with union or | operator

In [7]:
a={1,23,3}
b={56,45,7}
print(a.union(b))
print(a|b)

{1, 3, 7, 23, 56, 45}
{1, 3, 7, 23, 56, 45}

### Intersection

>Same only elements from both sets will be added

>Intersection can be done intersection() or & operator

In [10]:
a=set()
b=set()
for i in range(5):
    a.add(i)
for j in range(3,9):
    b.add(j)
print(a.intersection(b))
print(a&b)

{3, 4}
{3, 4}

### Difference

>Non common elements will be added

>this can be done by differnce() or - operator

In [14]:
a=set()
b=set()
for i in range(6):
    a.add(i)
for j in range(4,9):
    b.add(j)
print(a.difference(b))
print(a-b)

{0, 1, 2, 3}
{0, 1, 2, 3}

### clear()

>this will clear whole set

In [15]:
a={1,2,3}
a.clear()
print(a)

set()

## Tuple()

### Creating tuple

>tp=1,2--print(tp) or tp=(1,2)--print(tp)

###tuple() function

>You can change list or dict types to tuple with tuple function(show example)

### Concatenating 2 tuples

>tp1=(1,2,3)

>tp2=('saske','naruto')

>tp3=(tp1+tp2)

### Nesting tuples

>(tp1,tp2)

### Creating repeating tuples

>tp=(1,2,3)*2

>output=(1,2,3,1,2,3)


>Tuples are immutable meaning you can't change tuple elements after they created(tp[0]=1 not allowed)

>Slicing is allowed

>You can use for loop to access the element

### Tuple attributes

>max--max(tp) will give maximum value

>min--min(tp) will give minimum value

>sum--sum(tp) will give sum of tuple

>tp[::-1] will reverse the tuple

## User defined functions


> To write function start with def
    
>You need to call a function to access it's functionality

>A function may take arguments or may run without arguments

>You can return a value from function or print desired output in it

### Docstrings

> A first line which has comment in it

>If comment is present other than 1st line doc will return none

>to access it use print(func_name.__doc__)

In [ ]:
# Function examples
1 without taking arguments
def func():
    print('This is function')
    
func()

In [ ]:
#2 Taking arguments
def func(a,b):
    avg=(a+b/2)
    print(avg)

func(2,3)

In [ ]:
#3 Returning value from function

def func(a,b):
    avg=(a+b)/2
    return avg

print(func(3,5))

In [ ]:
# QUIZ
def func(a,b):
    avg=(a+b)/2
    print(avg)
    

print(func(3,5))

In [ ]:
#Docstring example

def func():
    """This functions prints"""
    print('You should definitely watch attack on titans')
    
print(func.__doc__)

### Lambda function:

>It is an alternative to the user defined functions

>It can take lot of arguments but returns only one expression

>lambda arguments:expression

>E.g. lambda x:x*x returns number square

In [14]:
#1.How to write lambda function

# def square(x):#Usual function
#     return x*x

# print(square(5))

# square=lambda x:x*x  #lambda function taking 1 argument
# print(square(5))

2

In [ ]:
#2. Lambda function taking multiple arguments

# a=lambda x,y,z:x+y+z
# print(a(1,2,3))

In [ ]:
#3. Lambda function can't return more than one expression

# a=lambda x:x*x,x
# print(a(2))

In [ ]:
#4. Returning values from list

l=[1,2,3]
results=lambda a:a[1]
print(results(l))

#Similarly you can use slicing in strings to return specific values

In [58]:
# # 5.QUIZ- Is it possible to write lambda function without any arguments like given??How??

# def func():
#     print('saske')
    
# func()

saske

### Map()

>Map function applies the function to each item in iterable(list,tuple)

>map(function,iterable)

>Add iterable name in front of map to get results in that iterbale form

>On the place of function we can write data types,iterable,functions also

In [16]:

# Python program to demonstrate working of map.
  # Return square of n
def addition(n):
    return n * n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[1, 4, 9, 16]

In [19]:
# Same above thing can be written as
numbers=(1,2,3,4)
l=list(map(lambda x:x*x,numbers))
print(l)

(1, 4, 9, 16)

In [19]:
# applying multiple functions 
def square(a):
    return a*a

def cube(a):
    return a*a*a

l=[square,cube]
for i in range(5):
    l1=list(map(lambda x:x(i),l))
    print(l1)

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]

In [3]:
# Changing data type of list elements

l=['21','231','321']
l1=list(map(int,l))
print(type(l1[0]))

<class 'int'>

In [14]:
# Changing iterable type
l=['saske','levi','naruto']
l1=set(map(tuple,l))
print(l1)

{('l', 'e', 'v', 'i'), ('n', 'a', 'r', 'u', 't', 'o'), ('s', 'a', 's', 'k', 'e')}

In [15]:
# Add two lists using map and lambda
  
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
  
print(list(map(lambda x,y:x+y,numbers1,numbers2)))

#Usual way
l=[]
for i in range(len(numbers1)):
    l.append(numbers1[i]+numbers2[i])
print(l)

[5, 7, 9]
[5, 7, 9]

## Filter function

>It will apply the filter to the whole iterable

>filter(function,iterable)

In [28]:

# a list contains both even and odd numbers. 
seq = [0, 1, 2, 3, 5, 8, 13]
  
# # result contains odd numbers of the list
# result = filter(lambda x: x % 2 != 0, seq)
# print(list(result))

# def odd(x):#usual way
#     l=[]
#     for i in x:
#         if i%2!=0:
#             l.append(i)
#     return l
# print(odd(seq))

[2, 8]

In [ ]:
# # result contains even numbers of the list
def even(x):
    if x%2 ==0:
        return x
    
result = filter(even, seq)
print(list(result))

In [60]:
#result contains number greater than 5
seq = [0, 1, 2, 3, 5, 8, 13]

result=list(filter(lambda x:x>5,seq))
print(result)

[8, 13]

## Recursion

>In simple words recursion can be called as function calling itself

In [30]:
def factorial():
    factorial()
    #here function is calling itself

In [1]:
#Example, what if ask you to print 1-100 numbers without using loops and not even typing manually

def prt(x):
    if x>0:
        print(x)
        prt(x-1)

prt(100)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
# WARNING don't forget to add condition to end recursion otehrwise it will kepp running until depth approaches

def prt(x):
    if x>0:
        print(x)
        prt(x)

prt(100)

#### Factorial Example

>Write a program to calculate factorial

>Now we know, 4! =4* 3* 2* 1 = 4*  (3!)

>Hence we can interpret it as n*(n-1)!

In [3]:
def factorial(n):
    if (n==0 or n==1):
        return 1  #0! and 1! =1
    else:
        return factorial(n-1)*n
    
print(factorial(5))

120

#### Fibonacci series

>0,1,1,2,3,5,8,13

>number is the sum of it's previous and it's 2nd previous number

>n=(n-1)+(n-2)

In [14]:
# def fib(n):
#     if (n==1):
#         return 0
#     elif(n==2):
#         return 1
#     else:
#         return fib(n-1)+fib(n-2)
    
# print(fib(6))

# to print fib series

def fib(n):
    count=0
    n1=0
    n2=1
    if n<=0:print('error')
    elif(n==1):print(n1)
    else:
        while count<n:
            print(n1)
            nth=n1+n2
            n1=n2
            n2=nth
            count+=1
            
fib(6)

0
1
1
2
3
5

In [16]:
#### Finding sum upto n natural number

def sm(n):
    if n==1: return 1
    else: return sm(n-1)+n
    
print(sm(4))

10

# Modules

>Python has built in modules and also external module(https://docs.python.org/3/py-modindex.html)

>To import module in program use import module name

>if module is not built in then use (pip install module name) 

>importing modules all functionality

>some built in modules are datetime,math,random etc

>No need to remember all of them

In [19]:
from math import *

In [21]:
from datetime import datetime # importing specific from modules

print(datetime.now())

2021-06-11 17:50:56.505553

In [22]:
import random as rd # giving alias to module name
a=rd.uniform(1,5)
print(a)

1.1503852754269794

## Dir() function

>dir(module name) gives all of its functionality name

In [27]:
import datetime
dir(datetime)

['MAXYEAR',
 'MINYEAR',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'date',
 'datetime',
 'datetime_CAPI',
 'sys',
 'time',
 'timedelta',
 'timezone',
 'tzinfo']

## help()

>it gives the documentation of module

In [61]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## FILE I/O

>"r"-read mode--default mode

>"w"-write mode

>"a"-append mode

>"b"-binary mode--to convert file in audio fotmat this mode is helpful

>"t"-text mode

>"+"-read and write both mode

### writing in file

>f=open('file name','w')

>f.write(content)

>But remember every time you will write,old text will be overwrite

In [50]:
f=open('saske','w')
f.write('saske is good')
f.close()

f=open('saske','w')
f.write('naruto is best')
f.close()

In [51]:
### reading file
f=open('saske')
a=f.read()
print(a)
f.close()

naruto is best

In [53]:
## with block

with open('saske','a') as f:
    f.write('saske has susano')

In [ ]:
### Handling csv

import csv
with open('filename.csv') as csv_file:
    csv_read=csv.reader(csv_file, delimiter=',')

In [55]:
# GC_Task_Sheet_ratio_question

# import csv

# with open('GC_Task_Sheet_ratio_question.csv') as csv_file:
#     a=csv_file.read()
#     print(a)

#using pandas
import pandas as pd
data = pd.read_csv('GC_Task_Sheet_ratio_question.csv')
# print(data)

In [ ]:
### expoorting dataframe to csv

>df.to_csv(r'Path where you want to store the exported CSV file\File Name.csv', index = False)

## Try-except

In [62]:
try:
    i=int(input('enter a number'))

except Exception as e:
    print(e)

# i=int(input('enter a number'))
print('I want this no matter what')

enter a numbera

ValueError: invalid literal for int() with base 10: 'a'